/* Copyright 2024, MASSACHUSETTS INSTITUTE OF TECHNOLOGY*/
/* Subject to FAR 52.227-11 – Patent Rights – Ownership by the Contractor (May 2014).*/
/* SPDX-License-Identifier: MIT*/
/* See LICENSE.txt*/

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}
